<div class="box-area-conta">
    <div class="box-area-conta-top">
        <div class="box-area-conta-top-inside">
            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor"
                class="bi bi-person-square" viewBox="0 0 20 20">
                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                <path
                    d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm12 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1v-1c0-1-1-4-6-4s-6 3-6 4v1a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12z" />
            </svg>
            {{$ctrl.conta.cliente.nome}}
        </div>
        <div class="box-area-conta-top-inside">
            Agência {{$ctrl.conta.agencia}} | Conta {{$ctrl.conta.conta}}
        </div>
    </div>

    <div class="box-area-conta-dados">
        <div class="box-area-conta-dados-inside">
            <div class="box-inside">
                {{$ctrl.conta}}
                <h4>Saldo em conta {{$ctrl.getTipoConta($ctrl.conta.contaTipo)}}</h4>
                <h5>R$ {{$ctrl.conta.saldo | number: '2'}}</h5>
                <hr>
            </div>
            <div class="box-inside">
                <h5 style="color: rgb(121, 204, 121);">Cheque Especial R$ {{$ctrl.conta.chequeEspecial | number: '2'}}
                </h5>
            </div>
            <div class="box-inside">
                <h5>Lançamentos futuros</h5>
                <h5 style="color: rgb(230, 95, 95);">Juros R$ {{$ctrl.conta.juros | number: '2'}}</h5>
            </div>
            <div class="box-op">
                <a ui-sref="app.deposito-form({id: $ctrl.conta.id})">
                    <button type="button" class="btn btn-light">
                        Depósito
                    </button>
                </a>
                <a ui-sref="app.saque-form({id: $ctrl.conta.id})">
                    <button type="button" class="btn btn-light">
                        Saque
                    </button>
                </a>
                <a ui-sref="app.transferencia-form({id: $ctrl.conta.id})">
                    <button type="button" class="btn btn-light">
                        Transferência
                    </button>
                </a>
            </div>
        </div>

        <!-- Extrato Area -->
        <div class="box-area-conta-dados-inside">
            <div class="box-area-extrato">
                <div class="extrato">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">#ID</th>
                                <th scope="col">Data</th>
                                <th scope="col">Descrição</th>
                                <th scope="col">Valor</th>
                                <th scope="col">Novo Saldo</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- {{$ctrl.}} -->
                            <tr ng-repeat="dados in $ctrl.extrato">
                                <td>{{dados.id}}</td>
                                <td>{{dados.data | date: 'dd/MM/yyyy' }}</td>
                                <td>{{dados.descricao}}</td>
                                <td>{{dados.valor | number: '2'}}</td>
                                <td>{{dados.novoSaldo | number: '2'}}</td>
                            </tr>
                        </tbody>
                    </table>

                    <nav aria-label="Navegação de página exemplo">
                       <ul class="pagination">
                            <li class="page-item">
                                <a class="page-link" ng-click="$ctrl.buttonPrevious()" ui-sref="app.conta-area-list({id: $ctrl.conta.id, page: $ctrl.page})" aria-label="Anterior">
                                    <span aria-hidden="true">&laquo;</span>
                                    <span class="sr-only">Anterior</span>
                                </a>
                            </li>
                            <li class="page-item"><a class="page-link" ui-sref="app.conta-area-list({id: $ctrl.conta.id, page: 0})">1</a></li>
                            <li class="page-item"><a class="page-link" ui-sref="app.conta-area-list({id: $ctrl.conta.id, page: 1})">2</a></li>
                            <li class="page-item"><a class="page-link" ui-sref="app.conta-area-list({id: $ctrl.conta.id, page: 2})">3</a></li>
                            <li class="page-item">
                                <a class="page-link" ng-click="$ctrl.buttonNext()" ui-sref="app.conta-area-list({id: $ctrl.conta.id, page: 0})" aria-label="Próximo">
                                    <span  aria-hidden="true">&raquo;</span>
                                    <span class="sr-only" >Próximo</span>
                                </a>
                            </li>
                        </ul>
                    </nav> 

                </div>
            </div>
        </div>
    </div>
</div>